
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  min-width: 1440px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  
}

/* DELIVERY BANNER */
.delivery-banner {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: center;
  gap: 12px;
}

.delivery-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #393939; 
  color: #fff;
  border-radius: 50%;
  font-size: 7.16px;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.delivery-close:hover {
  background-color: #393939;
  transform: scale(1.1);
}

/* HEADER */
.header {
  width: 100%;
  background: linear-gradient(90deg, #FEDD2C, #F9C201);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 32px 64px;
}

.header-logo,
.header__btn:hover .user,
.header__btn:hover .cart {
    filter: invert(1);
}

.user {
  border-radius: 16px;
  padding: 12px 18px;
  border: 2px solid #000;
   gap: 12px;
  transition: all  0.2s ease;
}

.user:hover {
  background-color: #E8E8E8;
  border: 2px solid #E8E8E8;
}

.cart {
  border-radius: 16px;
  padding: 15px 18px;
  background-color: #000;
  transition: all  0.2s ease;
}

.cart:hover {
  background-color: #000;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px; 
}

.header__btn {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
 
}

.nav__list {
  display: flex;
  gap: 24px;
  list-style: none;
  font-size: 16px;
}

.nav__list a {
  text-decoration: none;
  font-weight: 550;
  transition: opacity 0.2s ease;
  color: #555555;
 transition: color 0.2s ease;
}

.nav__list a:hover {
  color: #000;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header__info {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
}

.header__contact {
  text-align: right;
  font-size: 18px;
  color: #555555;
}

.phone {
  display: block;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 2px;
  color: #555555;
 transition: color 0.2s ease;
}

.phone:hover {
  color: #000;
}

.time {
  font-size: 12px;
}

/* MENU SECTION */
.menu {
  padding: 32px 0;
}

.menu__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 32px;
}

.menu__card {
  position: relative;
  border-radius: 12px;
  width: 304px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
}

.menu__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: -1;
  
}

.menu__overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(180deg,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
  z-index:0;
  border-radius:16px;
}



.menu__label {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  z-index: 1;
}

/* === СЕКЦИИ: Новинки и Популярное === */
.section {
  padding: 32px 0;

}

.section__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #222;
}

/* Карточки */
.cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  height: 480px;
}

.card {
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 304px;
}

.card img {
  height: 304px;
  object-fit: cover;
}

.card__title {
  font-size: 18px;
  font-weight: 600;
  height: 24px;
  margin: 12px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  gap: 4px;
}

.card__desc {
  font-size: 16px;
  color: #555;
  gap: 4px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card__footer {
  margin-top: auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.card__btn {
  background: #F4F4F4;
  border: none;
  border-radius: 16px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
  height: 56px;
  width: 304px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
   transition: background-color 0.2s ease, color 0.2s ease;
}

.card__btn:hover {
  background-color: #E8E8E8;
  color: #393939;
}

/* === СЕКЦИИ: Акции, События и Наши заведения  === */
.section_our_units{
  margin-bottom: 64px;
}
.cards__style-2 {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  height: 360px;
}

.card__style-2 {
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
 
}

.card__style-2 a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 645px;
}

.card__style-2 img{
  border-radius: 16px;
  width: 640px;
}

.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(180deg,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
  z-index:0;
  border-radius:16px;
}

.label{
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  width: 576px;
  z-index: 1;
  font-family: "Inter", sans-serif;
}

.cards_events {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 432px;
  gap: 32px;
}

.event-badges {
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: #fff;
  height: 36px;
}

.left-badges {
  display: flex;
  gap: 8px;
}

.badge {
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.badge.dark {
  background-color: rgba(0, 0, 0, 60%);
}

.badge.yellow {
  background-color: #FFD93D;
  color: #000;
}

.badge.gray {
  background-color: #727272;
  color: #fff;
}

.card__footer_2 {
  margin-top: auto;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.card__btn_2 {
  display: inline-block;
  padding: 16px 24px;
  border: 2px solid #000;
  border-radius: 16px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 56px;
  width: 1440px;
  font-size: 18px;
  gap: 16px;
  font-family: "Inter", sans-serif;
 transition: background-color 0.2s ease,color 0.2s ease;
}

.card__btn_2:hover {
  background-color: #000;
  color: #fff;
}

.footer{
  width: 100%;
  background: #1C1C1C;
  color: #A6A6A6;
  gap: 32px;
}

.footer__container {
  padding: 32px 62px;
}

.footer_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 56px;
  margin-bottom: 32px;
}

.footer_phone{
  text-decoration: none;
  color: #F4F4F4;
  font-size: 24px;
  font-weight: 600;
  transition: color 0.2s ease;
}

.footer_phone:hover {
  color: #A6A6A6;
}

.footer_time{
  font-size: 14px;
  margin: 4px 0 0;
}

.footer_socials {
  display: flex;
  justify-content: center; 
  gap: 8px; 
  
}

.footer_socials a {
  display: inline-flex;        
  align-items: center;
  justify-content: center;
  width: 40px;                   
  height: 40px;
  background-color: #393939;     
  border-radius: 8px;           
               
}

.footer_socials a img {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease;
}

.footer_socials a:hover img {
  filter: brightness(1.6);
}


.footer_middle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 40px;
  margin-bottom: 32px;
}

.footer_logo{
  margin-right: 144px;
  transition: all 0.2s ease;
}

.footer_logo:hover{
    filter: invert(0.4);
}


.footer_nav ul{
  display: flex;
  gap: 32px;
  list-style: none;
  font-size: 16px;
  margin: 0 64px;
}

.footer_nav a {
  text-decoration: none;
  font-weight: 550;
  transition: opacity 0.2s ease;
  color: #F4F4F4;
  transition: color 0.2s ease;
}

.footer_nav a:hover {
  color: #A6A6A6;
}

.footer_apps{
  display: flex;
  gap: 8px; 
  justify-content: center;
  align-items: center;
}

.apps_link {
  position: relative;
  display: inline-block;
  width: 138px;
  height: 40px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.apps_link:hover{
    filter: brightness(1.6);
}


.footer_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 29px;
  margin-bottom: 32px;
  font-size: 14px;
}



.footer_info{
  display: flex;
  font-size: 14px;
  gap: 16px;
}

.footer_info a {
  color: #A6A6A6;
  text-decoration: none;
  transition: color 0.2s ease;
  
}

.footer_info a:hover {
  color: #fafafa;
}

.footer_payments {
  display: flex;
  justify-content: center; 
  gap: 8px; 
}

.footer_payments img {
  height: 29px;
  gap: 8px;
}


.footer_note {
  border-top: 1px solid #393939;
  text-align: center;
  font-size: 14px;
  padding: 32px;
  padding-bottom: 0;
 
}
 

.footer_note a {
  color: #A6A6A6;
  transition: color 0.2s ease;
}

.footer_note a:hover {
  color: #fafafa;
}

